---
---

<style>
	.button {
		border-radius: 10rem;
		text-transform: capitalize;
		background-color: #303b59;
		color: white;
		width: 100%;
		padding: 1rem 0;
		font-weight: bold;
		font-family: inherit;
	}

	.button:hover,
	.button:active {
		background-image: linear-gradient(to bottom, #5e35ff, #322dfd);
		background-color: transparent;
		cursor: pointer;
	}
</style>

<button class="button">Continue</button>
